body    { overflow-y:scroll }

/* satır  */
.str { border-bottom:1px solid #ddd; padding:10px }

/* bağlantı  */
.bgl { text-decoration: none; }

.sinir { border: 3px solid #dc3545; padding: 15px; border-radius: 10px; font-size: 28px }